.div-img-logo {
  max-height:50px;
}
.img-logo {
  /* max-height:100px; */
  max-width: 180px;

  object-fit: cover;
  border: 3px solid #DC3545;
  border-radius: 5px;
}

.nav-cat  {
  font-size: 16px;
}

i {
  font-size: 20px;
}
.card-category {
  min-height:300px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.card-category .card-title{
  max-width: 80%;
  text-decoration: none;
  color:white;
  font-size:30px;
  position: absolute;
  bottom:10px;
}

.filter-category{
  background-image: linear-gradient(45deg, #198754, #000);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  bottom:0;
  opacity: 0.2;
  transition: all 0.5s;
}

.card-category:hover .filter-category{
  opacity: 0;
}



.card-product {
  min-height:350px;
  position: relative;
}
.card-product .card-link{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  bottom:0;
  z-index: 1;
  /* transition: all 0.5s; */
}
.card-product:hover .card-body{
  /* opacity: 0.1; */
  background-color: #f8f8f8;
}

.card-body .card-price{
  font-weight: bold;
}

.card-product .card-img-top{
  object-fit: contain;
}
.card-product:hover .card-img-top{
  opacity: 0.9;
}

.card-product .card-addfav{
  color:white;
  position: absolute;
  top:10px;
  right: 10px;
}

input[type="radio"]:checked + label{
  box-shadow: 0 0 0 3px grey;
}


.cart-img {
  max-height: 120px;
}
